body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.all{
    width: 450px;
    padding: 140px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: white;
    justify-content: center;
    align-items: center;